<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Angular Forms lab5</h1>
  
  <div class="form-control">
  <label>Email</label>
  <input type="text" placeholder="Email" formControlName="email">
  <div class="validation" *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
    <small *ngIf="form.get('email')?.errors?.['restrictedRusEmail']" >Email {{form.get('email')?.value}} заборонено Законом України </small>
    <small *ngIf="form.get('email')!.errors!.required">Поле email не може бути порожнім. </small>
    <small *ngIf="form.get('email')!.errors!.email" >Введіть коректну електронну пошту. </small>    
  </div>
  
  <div class="form-control">
  <label>Пароль</label>
  <input type="password" placeholder="Пароль" formControlName="password">
  <div class="validation" *ngIf="form.get('password')!.touched && form.get('password')!.invalid">
    <small *ngIf="form.get('password')!.errors!.required">Поле пароль не може бути порожнім. </small>
    <small *ngIf="form.get('password')!.errors!.minlength.requiredLength">Неправильний пароль, спробуйте додати ще  {{form.get('password')!.errors!.minlength.requiredLength - form.get('password')!.errors!.minlength.actualLength}} символа</small>    
  </div>
  
  <div class="card" formGroupName="address">
  <h2>Адреса</h2>
  
  <div class="form-control">
  <label>Країна</label>
  
  <select formControlName="country">
  <option value="ua">Україна</option>
  <option value="pl">Польша</option>
  <option value="de">Німеччина</option>
  </select>
  </div>
  
  <div class="form-control">
  <label>Столиця</label>
  <input type="city" formControlName="city">
  </div>
  <button class="btn" type="button" (click)="setCapital()">Обрати столицю</button>
  </div>
  
  <div class="card" formArrayName="skills">
    <h2>Ваші навички</h2>
    
    <button class="btn" type="button" (click)="addSkill()">Додати навичку</button> 
    <div class="form-control" *ngFor="let control of $any(this.form.get('skills')!); let idx=index">
      <label> Навичка {{idx+1}}</label>
      <input type="text" [formControlName]="idx">
      <button class="btn" type="button" (click)="deleteSkill(idx)"></button>
    </div>
  </div>
  
  <button class="btn" type="submit" [disabled]="form.invalid">Відправити</button>
  
</div>
